$border-color: $gray-lighter;
$navbar-height: 55px;
$navbar-bg: #fff;
$navbar-border: (
  bottom: (
    size: 1px,
    style: solid,
    color: $border-color
  )
);
$navbar-brand-width: 155px;
$navbar-brand-bg: #fff;
$navbar-brand-logo: url('../img/logo.png');
$navbar-brand-logo-size: 70px auto;
$navbar-brand-height: 50px;
$navbar-brand-border: (
  bottom: (
    size: 1px,
    style: solid,
    color: $border-color
  )
);

$navbar-color: rgba(0,0,0,.3);
$navbar-hover-color: rgba(0,0,0,.6);
$navbar-active-color: rgba(0,0,0,.8);
$navbar-disabled-color: rgba(0,0,0,.15);